<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://sql11.freemysqlhosting.net:3306/sql11167212</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.model.AgeRatingEntity"/>
    <mapping class="com.model.CategoryEntity"/>
    <mapping class="com.model.CinemaHallEntity"/>
    <mapping class="com.model.MovieEntity"/>
    <mapping class="com.model.MovieHasCategoryEntity"/>
    <mapping class="com.model.PriceEntity"/>
    <mapping class="com.model.SeanceEntity"/>
    <mapping class="com.model.SeatEntity"/>
    <mapping class="com.model.ViewHallEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>